/* ===== global.css ===== */
body {
    background: radial-gradient(circle at top,
            #0b1220 0%,
            #05070d 60%,
            #020409 100%);
    color: #1c58d0;
}

/* ===== Layout ===== */
body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background: #f4f6fa;
}

.main {
    margin-left: 240px;
    padding: 24px;
}